

li{
  display: inline;
}

div{
  background-repeat: no-repeat;
  background-size: contain;
}

.top-nav{
  padding-right: 70px;
}

.top-nav-element{
  padding: 0px 10px;
}

#header {
  display: flex;
  font-family: verdana;
  font-size: 14px;
  color: mediumaquamarine;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 7px;
  margin-top: -8px;
  z-index: 5;
  position: fixed;
  border-bottom: 1px solid black;
  width: 100%;
  background-color: white;
}

#title{
  margin-right: auto;
  padding-left: 10px;:
}

#logo{
  padding-left: 20px;
}






.column{
  display: inline-flex;
  flex-direction: column;
  margin: 0px; 10px;
}

.column.large{
  width: 630px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

.column.medium{
  width: 300px;
}

.column.small{
  width: 240px;
}

.headline{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  background-size: cover;
}

.story{
  display: flex;
  flex-direction: column;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.split{
  display: flex;
  flex-direction: column;
  width: 48%;
}

#main{
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
  width: 55%;
  margin: auto;
}

#main_story{
  font-size:  40px;
  height: 300px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
}

#fall_season{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png)
}

#hipster{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png)
}

#cats{
  height: 400px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png)
}

#cookie{
  width: 100%;
  height: 240px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-news-bite.png)
}
